body {
  font-family: 'Poppins', sans-serif;
  background-image: url("../img/leaves.webp");
  background-size: contain;
}

h1 {
  color: green;
}


ul {
  width: 100%;
  margin: auto;
}

ul li{
  border: 1px solid #e0edc6;
  width: 40%;
  margin: auto;
  list-style-type: none;
}